{% extends "admin_console.html" %}

{% block title %}Добавление расписания{% endblock %}
{% block mainTitle %}Добавление расписания{% endblock %}

{% block mainContent %}
<form action="/add_schedule" method="POST">
    <div class="form-group">
        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" required>
    </div>
    <div class="form-group">
        <label for="master">Мастер:</label>
        <select id="master" name="master" required>
            {% for master in masters %}
            <option value="{{ master.id }}">{{ master.full_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="status">Статус:</label>
        <select id="status" name="status" required>
            <option value="Свободно">Свободно</option>
            <option value="Занято">Занято</option>
        </select>
    </div>
    <div class="form-group">
        <label for="comment">Комментарий:</label>
        <textarea id="comment" name="comment" rows="2" placeholder="Например: Занято с 9 до 11"></textarea>
    </div>
    <button type="submit" class="submit-button">Добавить расписание</button>
</form>

{% endblock %}
